extends ../templates/contents.pug

block headVars
    - var title = "Sponsors"
    - var tagline = "A sample page for the theme."
    - var requireMathJax = false
    - var topimg = "sponsors"

block article

    :markdown-it(html)
        
        # Overview

        How does one get financial support during a year of pandemic? This central question followed us at the back of our minds during the last months. We, iGEM Stockholm 2020, had to change some of our tactics to accomplish our aims.

        We have faced some issues, especially from a financial perspective. Long-time investors were no longer able to support the iGEM Stockholm for 2020. We sent newsletters and sponsor request to companies in both research and non-scientific areas, including restaurants and shops. However, this phase was not successful. Due to the current restrictions on physical meetings, we were unable to drop by companies, so meetings were not possible. Hence, it was difficult to convince potential sponsors to financially support our project. Most of the companies therefore showed no interest.

        We also applied for many grants at our partner universities. Luckily, the universities showed empathy and understood our situation. For instance, grants that were initially meant for travelling allowed us to pay the registration fee instead. However, as many events have unfortunately been canceled, this constricted our budget. This pandemic has taught us to be flexible and creative to achieve our goals.
        
        Since our whole project relies on sponsors, we are very thankful to our partner universities that supported us financially during iGEM 2020. A special thanks is therefore in order to all our sponsors who believed in our idea during these difficult times.

        # Academic Sponsors

        ## KTH Royal Institute of Technology
    img(src=require('../assets/img/Sponsors--kth.png')['default']).sponsor.kth
    :markdown-it(html)
        KTH Royal Institute of Technology's focus and support for biological research has led to the institution playing several significant roles in the success of iGEM Stockholm. First and foremost, KTH is the primary financial support of the iGEM Stockholm 2020 team. We rely on the advice, expertise, and support of the KTH Royal Institute of Technology staff. KTH also provided us with lab space and basic equipment and materials to do experimental work for the summer. [1](#citation1)
        
        ### KTH Opportunities fund 
        KTH Opportunities fund offers scholarships to KTH students who are involved in projects, internships, and research that has an impact on innovation, sustainability, equality, and interdisciplinary collaborations. The aim is to affect KTH and the students positively through sponsored ideas.
        
        ## KI Innovations
    img(src=require('../assets/img/Sponsors--ki_innovations.png')['default']).sponsor.ki_innovations
    :markdown-it(html)
        KI Innovations validate and evaluate customers' ideas and offer education, resources, financing, and help with business-relevant inquiries in particular for start-ups. This subsidiary of Karolinska Institutet's holding company inspires and helps interested people to build skills. [2](#citation2)
        
        ## PN Biomedicine Grant
    img(src=require('../assets/img/Sponsors--mf.png')['default']).sponsor.mf
    :markdown-it(html)
        The PN Biomedicine Grant supports projects with a benefit for students, especially students belonging to the biomedical student section (BUS) at Karolinska Institutet. [3](#citation3)
        
        # Corporate Sponsors

        ## Benchling
    img(src=require('../assets/img/Sponsors--benchling.png')['default']).sponsor.benchling
    :markdown-it(html)
        Benchling is an iGEM 2020 partner sponsor, and has kindly provided access to their cloud-based platform allowing for collaborative lab documentation and sequence design within our team. [4](#citation4)

        ## Integrated DNA Technologies
    img(src=require('../assets/img/Sponsors--idt.png')['default']).sponsor.idt
    :markdown-it(html)
        Integrated DNA Technologies, a platinum iGEM 2020 partner sponsor, has generously provided our and other iGEM teams with 20 kB of DNA oligonucleotides. IDT is a provider of custom nucleic acid sequences and products for research and diagnostic life science markets. [5](#citation5)

        ## New England Biolabs
    img(src=require('../assets/img/Sponsors--neb.png')['default']).sponsor.neb
    :markdown-it(html)
        New England Biolabs, an iGEM 2020 gold sponsor, kindly supported our team with laboratory material and reagents essential for DNA purification and restriction cloning. NEB specializes in the discovery and production of enzymes for molecular biology applications. [6](#citation6)

        ## Red Bull
    img(src=require('../assets/img/Sponsors--redbull.png')['default']).sponsor.redbull
    :markdown-it(html)
        Red Bull supported our team with in-kind sponsors which boosted our energy resources. Red Bull has a strong interest in sustainability which involves dealing with packaging and on reducing emissions and energy. [7](#citation7)

        ## SnapGene
    img(src=require('../assets/img/Sponsors--snapgene.png')['default']).sponsor.snapgene
    :markdown-it(html)
        SnapGene, an iGEM 2020 partner sponsor, kindly provided licenses to their platform enabling our lab team members to design, visualize and simulate DNA manipulations in silico. The company offers a molecular cloning software tool allowing for the planning, visualization and documentation of everyday molecular biology procedures. [8](#citation8)

//- DO NOT MODIFY THIS LINE AND ANYTHING BEYOND.

prepend citations
    - var citations = [{"details": "(n.d.). Retrieved on October 11, 2020. from ", "title": "An innovative European technical university. KTH.", "type": "webpage", "url": "https://www.kth.se/en/om/fakta"}, {"details": "(July 02, 2019). Retrieved on October 11, 2020. from ", "title": "About us. KI Innovations.", "type": "webpage", "url": "https://karolinskainnovations.ki.se/en/about-us-2/"}, {"details": "(n.d.). Retrieved on October 11, 2020. from ", "title": "About MF. Medicinska Foreningen.", "type": "webpage", "url": "https://medicinskaforeningen.se/en/about-us/"}, {"details": "(n.d.). Retrieved on October 11, 2020. from ", "title": "Accelerating Life Sciences R&D. Benchling.", "type": "webpage", "url": "https://www.benchling.com/about-us/"}, {"details": "(n.d.). Retrieved on October 11, 2020. from ", "title": "About Integrated DNA Technologies. Integrated DNA Technologies.", "type": "webpage", "url": "https://eu.idtdna.com/pages/about"}, {"details": "(n.d.). Retrieved on October 11, 2020. from ", "title": "NEB Overview: NEB. New England Biolabs: Reagents for the Life Sciences Industry.", "type": "webpage", "url": "https://international.neb.com/about-neb/neb-overview"}, {"details": "(n.d.). Retrieved on October 11, 2020. from ", "title": "Giving Wings to People and Ideas. Red Bull Energy Drink - Official Website :: Energy Drink :: Red Bull International.", "type": "webpage", "url": "https://www.redbull.com/int-en/energydrink/company-profile"}, {"details": "(n.d.). Retrieved on October 11, 2020. from ", "title": "GSL Biotech: The Story of SnapGene. SnapGene.", "type": "webpage", "url": "https://www.snapgene.com/about/"}]