include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team | iGEM Stockholm
  body
    include ../templates/nav.pug
    header.d-flex.justify-content-center.align-items-center
      .container
        .wave.wave1
        .wave.wave2
        .wave.wave3

    main
      .container
        h1 Meet the Team
        .row.d-flex.justify-content-center
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card.card1
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Alpha
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Musicaholic. Proud beer buff. Total zombie junkie. Reader. Twitter evangelist. Avid alcohol aficionado.
            .card.card2
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Bravo
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Infuriatingly humble internet buff. Bacon scholar. Zombie lover. Travel fan. Twitter maven.
            .card.card3
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Charlie
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Evil problem solver. Troublemaker. Food lover. Internet advocate. Tv fanatic. Alcohol fan. Lifelong twitter maven.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card.card4
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Delta
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Baconaholic. Twitter fanatic. Organizer. Tv expert. Freelance zombie specialist. Hipster-friendly gamer. Analyst. Problem solver. Entrepreneur. Music ninja.
            .card.card5
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Echo
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Amateur tv advocate. Hipster-friendly creator. Zombie fanatic. Communicator. Web specialist.
            .card.card6
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Foxtrot
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Evil problem solver. Troublemaker. Food lover. Internet advocate. Tv fanatic. Alcohol fan. Lifelong twitter maven.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card.card7
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Alpha
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Musicaholic. Proud beer buff. Total zombie junkie. Reader. Twitter evangelist. Avid alcohol aficionado.
            .card.card8
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Bravo
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Infuriatingly humble internet buff. Bacon scholar. Zombie lover. Travel fan. Twitter maven.
            .card.card9
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Charlie
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Evil problem solver. Troublemaker. Food lover. Internet advocate. Tv fanatic. Alcohol fan. Lifelong twitter maven.
          .col-xl-3.col-lg-4.col-md-6.col-xs-12
            .card.card10
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Delta
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Baconaholic. Twitter fanatic. Organizer. Tv expert. Freelance zombie specialist. Hipster-friendly gamer. Analyst. Problem solver. Entrepreneur. Music ninja.
            .card.card11
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Echo
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Amateur tv advocate. Hipster-friendly creator. Zombie fanatic. Communicator. Web specialist.
            .card.card12
              img(src=require('../assets/img/Team--member.png')['default'])
              h5.card-title Foxtrot
              #info
                img(src=require('../assets/img/Team--profile.png')['default'])
                p.card-text Evil problem solver. Troublemaker. Food lover. Internet advocate. Tv fanatic. Alcohol fan. Lifelong twitter maven.

    include ../templates/footer.pug
