include ../templates/team_list
include ../templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team | iGEM Stockholm
  body
    include ../templates/nav.pug
    .parent
      header.d-flex.justify-content-center.align-items-center
        .container
          .wave.wave1
          .wave.wave2
          .wave.wave3

      main
        .container
          .title
            h1 Meet the Team
            p We're proud to present each member of the iGEM Stockholm team! Hover over an avatar and scroll to view their profile!
          img(src=require('../assets/img/Team--group.png')['default']).group
          each member in teamMembers
            div(class="card card"+teamMembers.indexOf(member))
              .avatar
                img(src=require('../assets/img/Team--avatar_'+member['image']+'.png')['default'])
                h5.card-title #{member['name']}
              .info
                img(src=require('../assets/img/Team--photo_'+member['image']+'.png')['default'])
                h5.card-title #{member['name']}
                h6.card-title #{member['role']}
                p.card-text #{member['desc']}

      include ../templates/footer.pug
