include templates/mixins

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title iGEM Stockholm
  body
    include templates/nav.pug
    .parallax
      .parallax_group#group0
        .logo
        h2 A modular biosensor for the detection of POPs in water
        .wave.wave1
        .wave.wave2
        .wave.wave3
        .waveblock
      .parallax_group#group1
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # The Problem
              Persistent organic pollutants (POPs), including PFOS (perfluorooctanesulfonic acid) and PCBs (polychlorinated biphenyls), have been of great concern, due to their toxicity in low concentrations and bioaccumulating properties that lead to alarming concentrations in the ecosystem. However, current detection methods for POPs are expensive and time-consuming.
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef1.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
          img(src=require('./assets/img/Home--fore1.png')['default']).fore

      .parallax_group#group2
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Our Project
              S-POP aims to solve this issue by creating a monitor containing two major parts, a modular E. coli biosensor coupled with a Microbial Fuel Cell. Read more about our project [here](https://2020.igem.org/Team:Stockholm/Description).
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef2.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
          img(src=require('./assets/img/Home--fore2.png')['default']).fore

      .parallax_group#group3
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Design
              When E. coli is activated by the pollutant Quorum sensing (QS) molecule is produced. Upregulated by the QS-molecule, engineered Shewanella oneidensis produces an oscillating electrical signal whose pattern corresponds to the type of pollutants in the sample. Read more about our project design [here](https://2020.igem.org/Team:Stockholm/Design).
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef3.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
          img(src=require('./assets/img/Home--fore3.png')['default']).fore

      .parallax_group#group4
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Human Practices
              Our discussions with experts within academia, legislation, industry, healthcare, and society provided us with valuable feedback for further development of S-POP. Follow our journey [here](https://2020.igem.org/Team:Stockholm/Human_Practices)!
        .parallax_layer.parallax_layer-reef
          img(src=require('./assets/img/Home--reef4.png')['default']).reef
          .reefblock
        .parallax_layer.parallax_layer-fore
          img(src=require('./assets/img/Home--fore4.png')['default']).fore

      .parallax_group#group5
        .parallax_layer.parallax_layer-main
          .content
            :markdown-it(html)
              # Project Promotion Video
            .video_wrapper
              iframe(src="https://video.igem.org/videos/embed/9b1a796e-6c59-46a0-9fbc-8dcfe68b9484", frameborder="0", allowfullscreen)
                | Sorry, your browser doesn't support embedded videos
          img(src=require('./assets/img/Home--reef5.png')['default']).reef.bottom
        .parallax_layer.parallax_layer-fore
      include templates/footer.pug
